<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesFH.css">
    <title>Vitalcer |  Nombre Producto</title>
</head>
<body class="bodyCarrito">
    <!-- header -->
    <%- include('partials/header')%>

    <!-- Main product -->

    <div class = "container">
      <div class = "row">
        <div class = "col-md-5">
          <img src="/images/products/<%= product.image %> " alt="" class = "avena">

        </div>
        <div class = "col-md-7">
          <P class = "newArrival text-center"> NEW</P>
          <h1><%= product.name %></h1>
         <% if(product.discount > 0) { %> 
          <div>
            <h2><%= product.price %></h2>
            /
            <span><%= product.discount %> % OFF</span>
          </div>
          <div>
            $<%= product.price - (product.price * product.discount / 100) %>
          </div>
          <% } else { %>
            <div>
              $<%= product.price %>
            </div>
          <% } %>
          <label for="exampleFormControlSelect1">Cantidad</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          <button type="button" class="btn btn-primary btn-lg">Agregar al carrito</button>
          <h3>Descripción:</h3>
            <p><%= product.description %></p>                  
          </div>
      </div>
      <a href="/products/edit/<%= product.id %> " class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= product.id %>?_method=DELETE " method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
    </div>
  
    <!-- seccion ofertas -->
    <div class = "sale-product">
        <h2>Productos en oferta</h2>
    </div>
    <% products.forEach(function(product){ %>
        <section class = card1>
        <div class="card" style="width: 18rem;">
            <img src="/images/products/<%= product.image %>" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.price %></p>
              <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
          </div>
          <% }) %>
      
    <!-- footer -->
    <%- include('partials/footer')%> 
    
</body>
</html>